{
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": ["*.astro"],
			"options": {
				"parser": "astro"
			}
		}
	],
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"printWidth": 120,
	"bracketSpacing": true
}
