@media (max-width: 1000px) {
	header {
		padding: 2.5rem 2rem;
		img {
			width: 120px;
		}
	}
	section {
		padding: $padding-md;
	}
	#intro {
		.intro-img {
			img {
				width: 100%;
			}
		}
	}
	#features {
		flex-direction: column;
		justify-content: center;
		.features-item {
			width: 90%;
			padding: 0;
		}
	}
	#productive {
		flex-direction: column;
		.productive-img {
			img {
				width: 100%;
			}
		}
		.productive-content {
			margin-top: 2rem;
			padding: 0;
			h2 {
				font-size: 30px;
			}
		}
	}
	#testimonial {
		flex-direction: column;
		.testimonial-item {
			margin: 0;
			margin-top: 3.5rem;
			width: 80%;
		}
	}
	#contact {
		.contact-container {
			width: 80%;
			padding: $padding-sm;
			form {
				flex-direction: column;
				input {
					width: 80%;
					margin: 0;
					padding: 10px 10px;
				}
				button {
					width: 83%;
					margin: 0;
					margin-top: 1rem;
				}
			}
		}
	}
	#contact-info {
		padding: $padding-footer-tablet;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.location {
			justify-content: center;
			text-align: justify;
			margin: 0;
			div {
				height: 20px;
				width: 15px;
				margin: 0;
				margin-bottom: 60px;
			}
		}
		.contact-info-logo {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		.phone-email {
			justify-content: center;
			text-align: justify;
			margin: 0;
			margin-bottom: 20px;
		}
		.social-links {
			justify-content: center;
			margin-top: 1rem;
			padding-right: 2rem;
		}
		.contact-info-links {
			display: flex;
			justify-content: center;
			text-align: center;
			padding-right: 3.5rem;
		}
	}
}

@media (max-width: 380px) {
	section {
		padding: $padding-sm;
	}
	header {
		padding: 0;
		justify-content: center;
		align-items: center;
		.logo {
			margin-top: 30px;
			img {
				width: 70px;
			}
		}
		.nav-bar {
			display: none;
		}
	}
	#intro {
		div {
			width: 100%;
		}
		h1 {
			font-size: 20px;
		}
		button {
			font-size: 15px;
		}
	}
	#features {
		.features-item {
			width: 100%;
			margin: 2rem 0;
		}
	}
	#productive {
		.productive-content {
			h2 {
				font-size: 25px;
				line-height: 30px;
			}
		}
	}
	#contact {
		.contact-container {
			width: 70%;
		}
	}
	#contact-info {
		padding: $padding-footer-mobile;
		display: flex;
		justify-content: center;
		.location {
			width: 100%;
			margin-bottom: 50px;
			div {
				margin-right: 10px;
			}
		}
		.contact-info-links {
			flex-direction: column;
			padding-right: 25px;
		}
		.social-links {
			padding: 0;
		}
		.attribution-container {
			padding-left: 20px;
		}
		.phone-email {
			margin: 0;
			margin-bottom: 20px;
			padding-left: 25px;
			.contact-item {
				justify-content: flex-start;
			}
		}
	}
}
