---
import TheNav from "../components/TheNav.vue";
import Footer from "../components/Footer";
import Intro from "../components/Intro";
import TheFeatures from "../components/TheFeatures.vue";
import Productive from "../components/Productive";
import TheTestimonials from "../components/TheTestimonials.vue";
import TheContact from "../components/TheContact.vue";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <title>
    Frontend Mentor | Fylo landing page with dark theme and features grid
  </title>
</head>

<body>
  <header>
    <TheNav />
  </header>

  <main>
    <Intro />
    <TheFeatures />
    <Productive />
    <TheTestimonials />
    <TheContact />
  </main>

  <Footer />
</body>

<style>
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
