---
import TheNav from "../components/TheNav.vue";
import TheFeatures from "../components/TheFeatures.vue";
import TheFooter from "../components/TheFooter.vue";
import TheIntro from "../components/TheIntro.vue";
import TheTestimonials from "../components/TheTestimonials.vue";
import TheProductive from "../components/TheProductive.vue";
import TheContact from "../components/TheContact.vue";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <title>
    Frontend Mentor | Fylo landing page with dark theme and features grid
  </title>
</head>

<body>
  <header>
    <TheNav />
  </header>

  <main>
    <TheIntro />
    <TheFeatures />
    <TheProductive />
    <TheTestimonials />
    <TheContact />
  </main>

  <TheFooter />
</body>

<style>
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
