---
import TheNav from "../components/TheNav.vue";
import Footer from "../components/Footer";
import Intro from "../components/Intro";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <title>
    Frontend Mentor | Fylo landing page with dark theme and features grid
  </title>
</head>

<body>
  <TheNav />
  <main>
    <Intro />
  </main>
  <Footer />
</body>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
