$primary-color-dark-blue-1: hsl(217, 28%, 15%);
$primary-color-dark-blue-2: hsl(218, 28%, 13%);
$primary-color-dark-blue-3: hsl(216, 53%, 9%);
$primary-color-dark-blue-4: hsl(219, 30%, 18%);
$accent-color-cyan: hsl(176, 68%, 64%);
$accent-color-blue: hsl(198, 60%, 50%);
$accent-color-light-red: hsl(0, 100%, 63%);
$neutral-color-white: hsl(0, 0%, 100%);
